
{
    "recorders": [
        {}
    ], 
    "udp_ports": [         
        43, 
        53, 
        67, 
        68, 
        69, 
        79, 
        80, 
        88, 
        111, 
        123, 
        135, 
        137, 
        138, 
        139, 
        161, 
        162, 
        194, 
        389,
        500, 
        513, 
        514, 
        520, 
        623, 
        902, 
        903, 
        1900, 
        4070, 
        3391, 
        5060,
        5269, 
        6002, 
        7547, 
        9200
    ],
    "tcp_ports": [
        {"port": 20, "ssl": false},
        {"port": 21, "ssl": false},
        {"port": 22, "ssl": false},
        {"port": 23, "ssl": false},
        {"port": 25, "ssl": false},
        {"port": 43, "ssl": false},
        {"port": 53, "ssl": false},
        {"port": 79, "ssl": false},
        {"port": 80, "ssl": false},
        {"port": 81, "ssl": false},
        {"port": 88, "ssl": false},
        {"port": 109, "ssl": false},
        {"port": 110, "ssl": false},
        {"port": 111, "ssl": false},
        {"port": 135, "ssl": false},
        {"port": 137, "ssl": false},
        {"port": 138, "ssl": false},
        {"port": 139, "ssl": false},
        {"port": 159, "ssl": false},
        {"port": 161, "ssl": false},
        {"port": 162, "ssl": false},
        {"port": 194, "ssl": false},
        {"port": 443, "ssl": true},
        {"port": 444, "ssl": false},
        {"port": 445, "ssl": false},
        {"port": 465, "ssl": true},
        {"port": 502, "ssl": false},
        {"port": 512, "ssl": false},
        {"port": 513, "ssl": false},
        {"port": 514, "ssl": false},
        {"port": 587, "ssl": false},
        {"port": 623, "ssl": false},
        {"port": 636, "ssl": false},
        {"port": 902, "ssl": false},
        {"port": 903, "ssl": false},
        {"port": 990, "ssl": false},
        {"port": 1433, "ssl": false},
        {"port": 1979, "ssl": false},
        {"port": 2020, "ssl": false},
        {"port": 2222, "ssl": false},
        {"port": 2323, "ssl": false},
        {"port": 2375, "ssl": false},
        {"port": 2376, "ssl": true},
        {"port": 2377, "ssl": false},
        {"port": 2601, "ssl": false},
        {"port": 3306, "ssl": false},
        {"port": 3380, "ssl": false},
        {"port": 3389, "ssl": false},
        {"port": 3390, "ssl": false},
        {"port": 3391, "ssl": false},
        {"port": 3478, "ssl": false},
        {"port": 4000, "ssl": false},
        {"port": 4200, "ssl": false},
        {"port": 4243, "ssl": false},
        {"port": 4444, "ssl": false},
        {"port": 5038, "ssl": false},
        {"port": 5060, "ssl": false},
        {"port": 5269, "ssl": false},
        {"port": 5432, "ssl": false},
        {"port": 5555, "ssl": false},
        {"port": 5900, "ssl": false},
        {"port": 5901, "ssl": false},
        {"port": 5905, "ssl": false},
        {"port": 6379, "ssl": false},
        {"port": 6900, "ssl": false},
        {"port": 7547, "ssl": false},
        {"port": 8000, "ssl": false},
        {"port": 8080, "ssl": false},
        {"port": 8082, "ssl": false},
        {"port": 8081, "ssl": false},
        {"port": 8088, "ssl": false},
        {"port": 8089, "ssl": false},
        {"port": 8118, "ssl": false},
        {"port": 8291, "ssl": false},
        {"port": 8443, "ssl": true},
        {"port": 8545, "ssl": false},
        {"port": 8888, "ssl": false},
        {"port": 9000, "ssl": false},
        {"port": 9200, "ssl": false},
        {"port": 9999, "ssl": false},
        {"port": 10000, "ssl": false},
        {"port": 27017, "ssl": false},
        {"port": 50802, "ssl": false},
        {"port": 65529, "ssl": false},
        {"port": 65531, "ssl": false},
        {"port": 65533, "ssl": false}
    ],
    "ignore_tcp_ports": [

    ],
    "user": "nobody",
    "group": "nogroup",
    "interface": "eth0"
}
